<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<!--security 적용 후 아래 코드로 변경해주세요-->
<!--<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" xmlns:sec="www.thymeleaf.org/extras/spring-security">-->

<meta charset="UTF-8">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/product/common.css">
  <link rel="stylesheet" href="/css/product/product-list.css">
  <link rel="stylesheet" href="/css/buttons/button.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<title>GS Bank</title>
<!-- 전체 적용될 CSS -->
<th:block layout:fragment="css"></th:block>
<!-- 전체 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<!-- 우리가 작업할 공간 -->
<body>
<div layout:fragment="content" class="content">
  <div class="sub_content">
    <div class="location">
      <a th:href="@{/main}"><i class="bi bi-house-door-fill"></i> Home</a>
      <a th:href="@{/product/list}"> / 상품관리</a>
      <p> / 상품목록조회</p>
    </div>
    <div class="top">
      <h1 class="title">상품목록조회</h1>
      <div class="condition-box">
        <form id="searchForm" action="/product/search" method="GET">
        <div class="condition-top">
          <div class="condition">
            <label>상품유형</label>
            <select name="prodTyCd" id="prodTyCd">
              <option value=""></option>
              <option value="1">적금</option>
              <option value="2">예금</option>
              <option value="3">대출</option>
            </select>
          </div>
          <div class="condition">
            <label>판매상태</label>
            <select name="prodCurrStcd" id="prodCurrStcd">
              <option value="1">판매</option>
              <option value="0">준비</option>
              <option value="2">판매종료</option>
              <option value="">전체</option>
            </select>
          </div>
          <div class="condition">
            <label>납입주기</label>
            <select name="prodPayTyCd" id="prodPayTyCd">
              <option value=""></option>
              <option value="1">월납</option>
              <option value="3">3개월납</option>
              <option value="6">6개월납</option>
              <option value="8">년납</option>
              <option value="9">일시납</option>
            </select>
          </div>
          <div class="condition">
            <label>상품명</label>
            <input name="prodNm" id="prodNm" type="text">
          </div>
        </div>
        <div class="condition-bottom">
          <div class="condition-period">
            <label>구분</label>
            <select>
              <option id="prodNtslBgnYmd" value="begin">판매시작일</option>
              <option id="prodNtslEndYmd" value="end">판매종료일</option>
            </select>
            <input name="searchBgnYmd" type="date">
            <span>~</span>
            <input name="searchEndYmd" type="date">
          </div>
          <div class="btn-wrap">
            <button type="submit" class="btn btn-search">
              <div class="icon"><i class="icon bi bi-search"></i></div> 검색
            </button>
            <button type="button" class="btn btn-search-all">
              <div class="icon"><i class="icon bi bi-search"></i></div> 전체
            </button>
          </div>
        </div>
        </form>
      </div>

    </div>
    <div class="bottom">
      <div class="btn-wrap">
        <button class="btn btn-register">
          <div class="icon"><i class="icon bi bi-plus-circle-fill"></i></div> 등록
        </button>
        <button class="btn btn-print">
          <div class="icon"><i class="icon bi bi-printer"></i></div> 인쇄
        </button>
      </div>
      <table class="table-product">
        <thead>
          <tr>
            <th><input type="checkbox" id="checkAll"></th>
            <th data-column="prodCd">상품코드</th>
            <th data-column="prodNm">상품명</th>
            <th data-column="prodInstlAmtMin">최소가입액</th>
            <th data-column="prodInstlAmtMax">최대가입액</th>
            <th data-column="prodPayTyCd">납입주기</th>
            <th data-column="prodAirMin">최소적용이율</th>
            <th data-column="prodAirMax">최대적용이율</th>
            <th data-column="prodIntTaxTyCd">이자과세</th>
            <th data-column="prodNtslBgnYmd">판매기간</th>
          </tr>
        </thead>
        <tbody>
        <tbody>
          <tr th:each="product : ${list}" th:onclick="'window.location.href=\'/product/detail/' + ${product.prodSn} + '\';'" style="cursor: pointer;">
            <td><input type="checkbox" class="row-checkbox"></td>
            <td>[[${product.prodCd}]]</td>
            <td>[[${product.prodNm}]]</td>
            <td th:text="|${#numbers.formatInteger(product.prodInstlAmtMin, 0, 'COMMA')}원|"></td>
            <td th:text="|${#numbers.formatInteger(product.prodInstlAmtMax, 0, 'COMMA')}원|"></td>
            <td>[[${product.prodPayTyCd}]]</td>
            <td>[[${product.prodAirMin}]]</td>
            <td>[[${product.prodAirMax}]]</td>
            <td>[[${product.prodIntTaxTyCd}]]</td>
            <td>[[${product.prodNtslBgnYmd}]] ~ [[${product.prodNtslEndYmd}]]</td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-container">
        <div class="pagination">
          <button class="prev" th:if="${currentPage > 1}" th:onclick="'window.location.href=\'/product/list?page=' + (${currentPage} - 1) + '\';'">이전</button>
          <span th:each="page : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${page == currentPage} ? 'active' : ''"
                th:onclick="'window.location.href=\'/product/list?page=' + ${page} + '\';'">
          <span th:text="${page}"></span>
          </span>
          <button class="next" th:if="${currentPage < totalPages}" th:onclick="'window.location.href=\'/product/list?page=' + (${currentPage} + 1) + '\';'">다음</button>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    $(document).ready(function(){
          // 테이블 컬럼 정렬

          // 전체 선택 체크박스 클릭 이벤트
          $("#checkAll").on("click", function () {
            const isChecked = $(this).is(":checked");
            $(".row-checkbox").prop("checked", isChecked);
          });

          // 개별 체크박스 클릭 이벤트로 전체 체크박스 상태 업데이트
          $(".table-product").on("change", ".row-checkbox", function () {
            const total = $(".row-checkbox").length;
            const checked = $(".row-checkbox:checked").length;
            $("#checkAll").prop("checked", total === checked);
          });

          // 조건 검색 버튼 클릭 시 조건 확인
          $("#searchForm").on("submit", function (e) {
            e.preventDefault(); // 기본 폼 제출 방지

            // 모든 입력 필드의 값 확인
            const prodTyCd = $("#prodTyCd").val();
            const prodCurrStcd = $("#prodCurrStcd").val();
            const prodPayTyCd = $("#prodPayTyCd").val();
            const prodNm = $("#prodNm").val();

            // 하나라도 값이 있으면 폼 제출
            if (prodTyCd || prodCurrStcd || prodPayTyCd || prodNm) {
              this.submit();
            } else {
              alert("최소한 하나의 조건을 입력하거나 선택하세요.");
            }
          });

          // 신규 등록 버튼 클릭
          $(".btn-register").on("click", function (e) {
            window.location.href = "/product/insert";
          });

          // 전체 버튼 클릭
          $(".btn-search-all").on("click", function(e){
            window.location.href = "/product/list";
          });
        });
  </script>
</div>
</body>
</html>