<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
    <div class="location">
        <a th:href="@{/main}"><i class="bi bi-house-door-fill"></i> Home</a>
        <p> / 마이 페이지</p>
    </div>
    <div class="content1">
        <div class="left">
            <label class="myInfo">나의 정보</label>
            <form id="updateForm" method="POST" action="/mypage/update" enctype="multipart/form-data" class="mypage_right">
                <input type="hidden" id="hidden_user_id" name="userId" th:value="${mypageDTO.userId}">
                <div id="myprofile_mid">
                    <img id="profile_img"
                         th:src="${mypageDTO.userImgpath != null ? mypageDTO.userImgpath : '/css/mypage/img/mypage_default_profile.jpg'}"
                         alt="Profile Image" />
                    <label for="file" class="custom-file-upload">파일 선택</label>
                    <input type="file" id="file" name="profileImage" accept="image/*">
                    <button type="button" id="pw_edit">비밀번호 변경하기</button>
                </div>
                <div class="input_box">
                    <div id="myprofile_left">
                        <p>사원번호 <br>
                            <input type="text" id="user_id" name="userId" th:value="${mypageDTO.userId}" disabled>
                        </p>
                        <p>입사일 <br>
                            <input type="text" id="user_jncmp_ymd" name="userIncmpYmd" th:value="${mypageDTO.userJncmpYmd}" disabled>
                        </p>
                        <p>부서 <br>
                            <input type="text" id="user_dept_cd_code_cl" name="userDeptCdCodeCl" th:value="${mypageDTO.userDeptName}" disabled>
                        </p>
                        <p>직무 <br>
                            <input type="text" id="user_jbps_ty_cd_code_cl" name="userJbpsTyCdCodeCl" th:value="${mypageDTO.userJobName}" disabled>
                        </p>
                    </div>
                    <div id="myprofile_right">
                        <p>이름 <br>
                            <input type="text" id="user_name" name="userName" th:value="${mypageDTO.userName}" disabled>
                        </p>
                        <div class="phone">
                            <p>휴대전화 <br>
                                <input class="phone" type="text" id="phone_input1" name="phonePart1" th:value="${#strings.substring(mypageDTO.userTelno, 0, 3)}" disabled> -
                                <input class="phone" type="text" id="phone_input2" name="phonePart2" th:value="${#strings.substring(mypageDTO.userTelno, 4, 8)}" disabled> -
                                <input class="phone" type="text" id="phone_input3" name="phonePart3" th:value="${#strings.substring(mypageDTO.userTelno, 9)}" disabled>
                                <input type="button" value="인증" id="phone_btn">
                            </p>

                        </div>
                        <p>E-Mail <br>
                            <input type="email" id="user_email" name="userEmail" th:value="${mypageDTO.userEmail}" disabled>
                        </p>
                        <div class="buttons">
                            <button type="button" id="editButton">수정하기</button>
                            <button type="submit" id="submitButton">등록하기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="mypage_left">
            <div class="mycustomer">
                <div id="mycustomer_title">
                    <p>나의 고객 정보:</p>
                    <button  type="button" id="customerMoreBtn"><a th:href="@{/customer/list}"  class="nav-link" style="text-decoration: none; color: inherit;">더보기</a></button>
                </div>

                <table id="mycustomer_table">
                    <thead>
                    <tr class="table_head">
                        <th id="cust_name">고객 이름</th>
                        <th>가입 상품</th>
                        <th>이메일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer : ${mypageDTO.custProds}" class="table_body">
                        <td th:text="${customer.custNm}"></td>
                        <td th:text="${customer.dsgnDsTyCdName}"></td>
                        <td th:text="${customer.custEmail}"></td>
                    </tr>
                    <tr th:if="${mypageDTO.custProds.size()} == 0">
                        <td colspan="3">고객 정보가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="myboard">
                <div id="myboard_title">
                    <p>내 작성글:</p>
                    <button type="button" id="inquireMoreBtn"><a th:href="@{/inquire/list}" class="nav-link" style="text-decoration: none; color: inherit;">더보기</a></button>
                </div>

                <table id="myboard_table">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inquiry : ${mypageDTO.inquiries}">
                        <td th:text="${inquiry.inqTitle}"></td>
                        <td th:text="${#strings.substring(inquiry.inqCreateAt.toString(), 0, 10)}"></td>
                    </tr>
                    <tr th:if="${mypageDTO.inquiries.size()} == 0">
                        <td colspan="3">작성글이 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="passwordModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>비밀번호 변경하기</h2>
            <form id="passwordChangeForm" method="POST" action="/mypage/change-password" enctype="multipart/form-data">
                <label for="newPassword">변경 비밀번호</label>
                <div class="password-wrapper">
                    <input type="password" id="newPassword" name="newPassword" placeholder="비밀번호를 입력해주세요.">
                    <button type="button" id="eyeIcon" class="eye-button">
                        <img id="eye-open" th:src="@{/images/common/icon-eye.png}" alt="눈 이미지" style="display: block;">
                        <img id="eye-close" th:src="@{/images/common/icon-hide.png}" alt="숨김 이미지" style="display: none;">
                    </button>
                </div>
                <label for="confirmPassword">비밀번호 확인</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="비밀번호를 입력해주세요.">
                <button class="modal-button" type="button" id="changePasswordBtn">변경</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/mypage/mypage.js}"></script>
</div>


</body>


</html>