<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/authSystem/authSys.css}">
    <script th:src="@{/js/jQuery.js}"></script>
</head>

<title>GS Bank</title>
<!-- 전체 적용될 CSS -->
<th:block layout:fragment="css"></th:block>
<!-- 전체 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<!-- 우리가 작업할 공간 -->
<body>
<div layout:fragment="content" class="content">
    <!-- content 영역 -->
    <div class="content">
        <div class="location">
            <a th:href="@{/main}"><i class="bi bi-house-door-fill"></i> Home</a>
            <a th:href="@{/system/auth}"> / 시스템관리</a>
            <span> / 권한관리 </span>
        </div>
        <h1 class="title">권한관리</h1>

        <div class="sub-content">
            <div class="bottom">
                <form id="searchForm" th:action="@{/system/auth}" method="get" class="d-flex align-items-center">
                    <div class="condition">
                        <select name="auth" class="form-select me-2">
                            <option value="" selected>권한</option>
                            <th:block th:each="auth : ${authList}">
                                <option th:value="${auth.user_auth_cd}" th:text="${auth.auth_name}"
                                        th:selected="${auth.user_auth_cd == auth}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="button-box">
                        <div class="btn-wrap">
                            <button type="submit" class="btn" id="btn-search">
                                <div class="icon-container"><i class="icon bi bi-search"></i></div>
                                검색
                            </button>
                            <button type="button" class="btn" id="btn-reset">
                                <div class="icon-container"><i class="icon bi bi-arrow-left-circle-fill"></i></div>
                                초기화
                            </button>
                        </div>
                    </div>
                    <div class="btn-move">
                        <button type="button" class="btn" id="btn-list">
                            <div class="icon-container"><i class="icon bi bi-file-text"></i></div>
                            권한수정
                        </button>
                    </div>
                </form>
                <table class="table-authList">
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">권한명</th>
                        <th scope="col">권한페이지</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="auth : ${authSystemList}">
                        <tr>
                            <td th:text="${auth.tb_id}">번호</td>
                            <td th:text="${auth.menu_name}"></td>
                            <td th:text="${auth.auth_name}">권한명</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <!-- 페이지 네비게이션 -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- 이전 페이지 링크 -->
                        <li th:classappend="${currentPageNumber == 1} ? 'disabled' : ''" class="page-item">
                            <a class="page-link"
                               th:if="${currentPageNumber > 1}"
                               th:href="@{/system/auth(page=${currentPageNumber - 1}, auth=${auth})}"
                               aria-label="Previous">&lt;</a>
                        </li>

                        <!-- 페이지 번호 -->
                        <li th:each="pageNumber : ${paginationBarNumbers}"
                            th:classappend="${pageNumber == currentPageNumber} ? 'active' : ''" class="page-item">
                            <a class="page-link"
                               th:href="@{/system/auth(page=${pageNumber}, auth=${auth})}"
                               th:text="${pageNumber}">1</a>
                        </li>

                        <!-- 다음 페이지 링크 -->
                        <li th:classappend="${currentPageNumber == totalPageNumber} ? 'disabled' : ''"
                            class="page-item">
                            <a class="page-link"
                               th:if="${currentPageNumber < totalPageNumber}"
                               th:href="@{/system/auth(page=${currentPageNumber + 1}, auth=${auth})}"
                               aria-label="Next">&gt;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('btn-reset').addEventListener('click', function() {
       // 검색 폼의 모든 값을 초기화
       document.getElementById('searchForm').reset();
       // 폼을 다시 제출하여 초기 상태로 이동
       window.location.href = '/system/auth';
     });

        document.getElementById('btn-list').addEventListener('click', function() {
    window.location.href = '/management/employees';
    });
    </script>
</div>
</body>
</html>
