server:
  port: 5000
  servlet:
    encoding:
      charset: utf-8

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${rds.hostname}:${rds.port}/${rds.db.name}
    username: ${rds.username}
    password: ${rds.password}
  data:
    redis:
      host: clustercfg.financialproject.igbva6.apn2.cache.amazonaws.com
      port: 6379

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.team.financial_project.dto
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

aws:
  s3:
    bucket: codechef
    access-key: ${ACCESS}
    secret-key: ${SECRET}
    region: ap-northeast-2

coolsms:
  api:
    key: ${SMS.API.KEY}
    secret: ${SMS.API.SECRET}
  sender: ${SMS.PHONE}
