<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.team.financial_project.dto.UserDTO" alias="userDTO"></typeAlias>
        <typeAlias type="com.team.financial_project.dto.MainInquireDTO" alias="mainInquireDTO"></typeAlias>
        <typeAlias type="com.team.financial_project.dto.MainStatisticsGenderDTO" alias="mainStatisticsGenderDTO"></typeAlias>
        <typeAlias type="com.team.financial_project.dto.MainStatisticsAgeDTO" alias="mainStatisticsAgeDTO"></typeAlias>
        <typeAlias type="com.team.financial_project.dto.MainStatisticsSalesDTO" alias="mainStatisticsSalesDTO"></typeAlias>
        <typeAlias type="com.team.financial_project.dto.ProductDTO" alias="productDTO"></typeAlias>
        <typeAlias type="com.team.financial_project.dto.ProdHistDTO" alias="prodHistDTO"></typeAlias>
        <typeAlias type="com.team.financial_project.dto.TotalSalesDTO" alias="totalSalesDTO"></typeAlias>
        <typeAlias type="com.team.financial_project.dto.CustomerDTO" alias="customerDTO"/>
    </typeAliases>
</configuration>