/* 모달 공통 */
#myModal,
#detailModal,
#updateModal,
#writeModal {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 페이지 자체 스크롤 방지 */
}

.modal-content {
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    max-width: 800px;
    max-height: 80%; /* 모달 콘텐츠 높이 제한 */
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px; /* 부모 요소 내 세로 갭 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    border-bottom: none;
}

.modal-title {
    font-size: 23px;
    font-weight: bold;
    color: #303249;
}

/* 모달 닫기 버튼 */
button#closeModalBtn,
button#closeDetailModalBtn,
button#closeWriteModalBtn,
button#closeUpdateModalBtn {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #EAECF0;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #667085;
    border-radius: 5px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button#closeModalBtn:hover,
button#closeModalBtn:hover,
button#closeWriteModalBtn:hover,
button#closeUpdateModalBtn:hover {
    background: #e0e0e0; /* 마우스 오버 시 더 진한 회색 */
}

/* ============================================================ */
/* 조회 모달 */

/* 등록 버튼 */
.modal-btn-insert {
    position: absolute;
    top: 0px;
    right: 60px;
    background-color: #303249;
    color: white;
    border: none;
    border-radius: 10px;
    height: 32px;
    width: 60px;
    cursor: pointer;
    flex: 0 0 auto; /* 크기 고정 */
    align-items: center;
    justify-content: center;
}

/* for 내부 스크롤바 -- 테이블, 페이지네이션 감싸는 부모 요소 */
.modal-table-container {
    overflow-y: auto; /* 내부 스크롤바 추가 */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 테이블 스타일 */
.modal-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
    color: #8E98A8;
}

.modal-table th {
    background-color: #f5f5f5;
    font-size: 15px;
    padding: 12px 8px;
    border-bottom: 1px solid #E0E0E0;
}

.modal-table td {
    font-weight: normal;
    padding: 10px 8px;
    border-bottom: 1px solid #E0E0E0;
}

/* 첫 번째 열 너비 조정 */
.modal-table th:first-child, .modal-table td:first-child {
    width: 13%;
}

/* 테이블 행 */
.modal-table tbody tr {
    cursor: pointer;
}

.modal-table tr:hover {
    background-color: #f5f5f5;
}

/* ============================================================ */
/* 상세, 작성, 수정 모달 공통 */

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 30px; /* modal-input-container & modal-bottom-button-group 사이 갭 */
}

/* form -- 기본 속성 display:block 제거 */
#writeModal .modal-body form,
#updateModal .modal-body form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal-input-container {
    display: flex;
    flex-direction: column; /* 자식 요소 세로 정렬 */
    width: 100%; /* 자식 요소 가로로 꽉 채움 */
    gap: 25px; /* 세로 간격 */
}

.modal-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.modal-input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-basis: calc(33.33%);
}

.modal-input-group label {
    font-size: 16px;
    color: #303249;
    width: 65px;
    text-align: left;
}

.modal-input-group input {
    height: 32px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ced4da;
    /*border: 1px solid #8E98A8;*/
    border-radius: 8px;
    font-size: 14px;
    /*color: #8E98A8;*/
    color: #6A7480;
    flex: 1; /* 입력 필드가 남은 공간을 채우도록 설정 */
    box-sizing: border-box;
}

.modal-input-group select {
    height: 32px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ced4da;
    /*border: 1px solid #8E98A8;*/
    border-radius: 8px;
    font-size: 14px;
    /*color: #8E98A8;*/
    color: #6A7480;
    flex: 1; /* 입력 필드가 남은 공간을 채우도록 설정 */
    box-sizing: border-box;
}

.modal-input-row-textarea {
    display: flex;
    gap: 10px;
}

.modal-input-row-textarea label {
    font-size: 16px;
    color: #303249;
    width: 65px;
    text-align: left;
    padding-top: 4px;
}

.modal-input-row-textarea textarea {
    height: 250px;
    width: 100%;
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    /*border: 1px solid #8E98A8;*/
    border-radius: 8px;
    font-size: 16px;
    /*color: #8E98A8;*/
    color: #6A7480;
    /*color: #303249;*/
    resize: none;
}

/* for 모달 사이즈 맞추기 -- 작성, 수정 모달 teatarea 크기 늘림 */
#writeModal .modal-input-row-textarea textarea,
#updateModal .modal-input-row-textarea textarea {
    height: 307px;
}

.modal-bottom-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-right-btns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}







.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ============================================================ */
/* 페이지네이션 컨테이너 */
.custom-pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none; /* ul 기본 스타일 제거 */
    padding: 0;
}

.custom-pagination {
    display: flex;
    gap: 8px;
}

/* 버튼과 페이지 번호 기본 스타일 */
.custom-pagination-button, .custom-pagination-number {
    background-color: transparent;
    border: none;
    color: #333; !important;
    padding: 6px 12px;  !important;
    border-radius: 4px;  !important;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 현재 페이지 스타일 */
.custom-pagination-active {
    background-color: #010535; /* 네이비 배경 */
    color: #ffffff; /* 흰색 글자 */
    font-weight: bold;
    pointer-events: none; /* 클릭 방지 */
}

/* 버튼 및 페이지 호버 효과 */
.custom-pagination-button:hover, .custom-pagination-number:hover {
    background-color: #ced4da; /* 연한 회색 배경 */
    color: #010535; /* 네이비 글자 */
}

/* 비활성화 버튼 스타일 */
.custom-pagination-button[disabled] {
    color: #ccc;
    cursor: not-allowed;
}

/* 이전/다음 버튼 추가 여백 */
.pagination-prev, .pagination-next {
    font-size: 14px;
    padding: 6px 12px;
}