.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title .text {
    font-weight: bold;
    font-size: 25px;
}

.title i {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.retrieve-label {
    display: block;
    color: #4a4a4a;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    padding: 12.5px 10px;
    border-radius: 8px;
    border: 1px solid rgb(141, 141, 141);
    font-size: small;
}

.user_telno{
    display: flex;
    align-items: center;
    gap: 8px;
}
.user_telno input,
.user_telno select{
    text-align: center;
    padding: 12.5px 10px;
    border-radius: 8px;
    border: 1px solid rgb(103, 103, 103);
    font-size: small;
    width: 100%;
}
.user_telno select{
    color: #696969;
}

.code-label{
    display: flex;
    color: #4a4a4a;
    width: 100%;
    text-align: center;
    align-items: center;
}
#msg-not-match{
    color: rgb(172, 35, 35);
    font-size: smaller;
    display: none;
    justify-content: center;
    margin-left: 15px;
}
.code-container{
    display: none;
}
.code-input-box{
    display: flex;
    gap: 10px;
}
.input-and-timer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    border: 1px solid rgb(103, 103, 103);
    border-radius: 8px;
}
.code-input{
    width: 100%;
    padding: 0 10px;
    border: none;
    font-size: small;
}
input:focus{
    outline: none;
}
.timer {
    color: rgb(173, 0, 0);
    font-weight: bold;
}

.btn-certify{
    background-color: #a17777;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 0 10px;
}
.btn-certify:disabled{
    background-color: rgb(140 140 140);
    cursor: default;
}
.btn-certify:enabled:hover{
    background-color: #8d5050;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.btn-resend{
    background-color: #71A4AD;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 0 10px;
}
.btn-resend:disabled{
    background-color: rgb(140 140 140);
    cursor: default;
}
.btn-resend:enabled:hover{
    background-color: #567d84;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.icon-resend{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 3px;
}
.btn-retrieve{
    display: none;
}
.btn-send,
.btn-retrieve{
    font-size: large;
    padding: 10px 0px;
    background-color: #71A4AD;
    border-radius: 25px;
    border: none;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}
.btn-send:disabled,
.btn-retrieve:disabled{
    background-color: rgb(140 140 140);
    cursor: not-allowed;
}
.btn-send:enabled:hover,
.btn-retrieve:enabled:hover{
    background-color: #567d84;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.input-box input:focus{
    outline: 1.3px solid #656565 !important;
}

