<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<!-- sidebar라는 이름으로 선언-->
<div th:fragment="sidebar" class="sidebar">
    <div class="sidebar-sticky">
        <div class="container">
            <!-- 사용자 프로필 -->
            <div class="profile text-center mb-4">
                <a th:href="@{/customer/list}"><img src="" alt="User Profile" class="img-fluid" id="userProfileImage"></a>
                <h4 id="userProfileName"></h4>
            </div>

            <!-- 사이드바 메뉴 -->
            <ul class="nav flex-column" id="sidebarMenu">
                <li class="nav-item" th:each="menu, menuState : ${menuList}"
                    th:if="${menu.hasAnyRole.contains(#authentication.authorities[0].authority)}">
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" th:id="'dropdownMenuButton' + ${menuState.count}"
                                data-bs-toggle="collapse" th:data-bs-target="'#' + ${menuState.count}"
                                th:aria-controls="${menuState.count}" aria-expanded="false">
                            <img th:src="@{${menu.iconImg}}" class="img-menuicon">
                            <span th:text="${menu.categoryName}">카테고리 이름</span>
                        </button>
                        <!-- 하위 메뉴 목록 -->
                        <div class="collapse" th:id="${menuState.count}" data-bs-parent="#sidebarMenu">
                            <ul class="list-unstyled">
                                <!-- 하위 메뉴 루프 -->
                                <li th:each="subMenu : ${menu.menuList}" class="d-flex justify-content-between align-items-center"
                                    th:if="${subMenu.hasAnyRole.contains(#authentication.authorities[0].authority)}">
                                    <a th:href="@{|${subMenu.url}|}" th:text="${subMenu.name}">서브 메뉴 이름</a>
                                    <a href="javascript:void(0);" class="ml-auto bookmark-btn" th:data-menu-id="${subMenu.id}">
                                        <img src="/images/common/pin_no.png" class="img-pin">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script th:src="@{/js/fragments/sidebar.js}"></script>
</div>