/* 공통 : 링크 태그에 밑줄 제거 */
a {
    text-decoration: none;
}

/* content 사이즈와 여백 */
.main-content {
    flex: 1;
    padding: 20px;
}

/* 페이지 위치 */
.page-breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #888888;
    gap: 5px; /* 아이콘과 텍스트 사이 간격 */
}

.home-icon {
    font-size: 16px;
    margin-right: 5px;
}

.page-breadcrumb a {
    color: #888888;
}

.page-breadcrumb a:hover {
    text-decoration: underline;
}

/* 페이지 제목 */
.page-title {
    /*font-size: 25px;*/
    font-size: 1.75rem;
    /*font-weight: bold;*/
    margin-top: 20px; /* 페이지 위치와의 간격 */
    margin-bottom: 30px; /* 아래 내용과의 간격 */
    padding-left: 20px;
    color: #303249;
}
/* 인쇄관련 CSS */
@media print {
/* 모든 요소를 기본적으로 숨김 */
    body * {
        visibility: hidden;
        overflow: visible !important; /* 스크롤 제거 */
    }

    /* 인쇄하려는 영역만 보이도록 설정 */
    .print-area,
    .print-area * {
        visibility: visible;
    }

    /* 인쇄하려는 영역을 페이지 전체로 확장 */
    .print-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    /* 모달창, 헤더, 사이드바 등 숨김 */
    .modal, .page-breadcrumb, .tabs, .control-container {
        display: none !important;
    }
    /* 차트 캔버스 크기 조정 */
    #resultChart {
        width: 300px !important; /* 원하는 너비 */
        height: 200px !important; /* 원하는 높이 */
    }

    /* 차트 컨테이너 크기 조정 */
    .chart-container {
        width: 100% !important; /* 차트 컨테이너를 페이지 너비에 맞춤 */
        text-align: center; /* 차트를 가운데 정렬 */
        height: auto !important; /* 차트 컨테이너가 페이지에 맞게 조정되도록 설정 */
    }

    /* 표와 차트가 겹치지 않도록 여백 추가 */
    .interest-details {
        margin-top: 20px;
    }

    .main-content {
        overflow: visible !important; /* 메인 콘텐츠 영역 스크롤 제거 */
    }

    .calculation-container {
        overflow: visible !important; /* 계산 결과가 잘리지 않도록 */
    }
}

