/* 공통 : 링크 태그에 밑줄 제거 */
a {
    text-decoration: none;
}

/* content 사이즈와 여백 */
.main-content {
    flex: 1;
    padding: 20px;
}

.sub_content {
    margin: 20px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.location {
    display: flex;
    flex-direction: row;
}

.location a {
    text-decoration: none;
    color: inherit;
    margin-right: 5px;
    height: 40px;
}

.location p {
    display: inline;
}

