/* 탭 전체 스타일 */
.tabs {
    display: flex;
    height: 52px;
    gap: 0px; /* 탭 간격 */
    justify-content: space-between;
    /*margin: auto;*/
    margin-bottom: 32px;
    width: 100%;
    max-width: 1440px;
}

/* 탭 버튼 스타일 */
.tab {
    flex: 1; /* 4등분 */
    height: 52px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

/* 활성화된 탭 */
.active {
    background-color: #303249;
    color: #FFFFFF;
}

/* 비활성화된 탭 */
.inactive {
    background-color: #D9D9D9;
    color: #303249;
}

/* ============================================================ */
/* 부모 컨테이너 */
.main-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
/*    align-items: flex-start;*/
    transition: all 0.3s ease-in-out;
/*    margin: auto;*/
    width: 100%;
    max-width: 1440px;
}

/* 활성화 상태: 가로 배치 */
.main-form-container.horizontal {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/* 고객 컨테이너 숨김 */
.customer-container {
    display: none;
    flex: 1px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 32px;
    padding: 30px;
/*    justify-content: flex-start;
    align-items: center;*/
    height: 100%;
}

/* 고객 컨테이너 활성화 */
.customer-container.visible {
    display: flex; /* 숨김 상태 해제 */
}

/* label/input 그룹 감싸는 부모 요소 */
.customer-content {
    display: flex;
    gap: 20px;
}

/* label 그룹 */
.customer-label-group {
    min-width: 90px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/* label */
.customer-label-group label {
    height: 32px;
    color: #303249;
    font-size: 16px;
    line-height: 32px;
}

/* input 그룹 */
.customer-input-group {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/* input 그룹 내 input, select 공통 */
.customer-input-group input,
.customer-input-group select {
    width: 100%;
    max-width: 180px;
    height: 32px;
    border: 1px solid #8E98A8;
    border-radius: 8px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: none;
    color: #8E98A8;
}

/* input 및 select 안의 텍스트 스타일 */
.customer-input-group input::placeholder,
.customer-input-group select {
    color: #8E98A8; /* 텍스트 색상 */
    font-size: 14px;
}

/* 비활성화된 input 및 select 스타일 */
input[disabled],
select[disabled] {
    background-color: #F5F5F5;
    color: #8E98A8;
    border: 1px solid #E0E0E0;
    cursor: not-allowed;
}

.customer-input-with-button {
    display: flex;
    align-items: center;
    gap: 16px;
}

.customer-input-with-button button {
    width: 32px;
    height: 32px;
    background-color: #303249;
    color: white;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* 주소 라벨 */
.custAddr-label {
    display: flex;
    align-items: flex-start;
    height: 130px !important;
    line-height: normal;
}

/* 주소 input */
textarea {
    width: 180px;
    height: 130px;
    resize: none; /* 크기 조정 비활성화 */
    background-color: #F5F5F5;
    color: #8E98A8;
    border: 1px solid #E0E0E0;
    cursor: not-allowed;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
}

/* ============================================================ */
/* 모달 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow: hidden; /* 내부 스크롤만 허용 */
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px; /* 부모 요소 내 세로 갭 */
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    border-bottom: none;
}

.modal-title {
    font-size: 23px;
    font-weight: bold;
    color: #303249;
}

/* 모달 닫기 버튼 */
button#closeCustomerModalButton,
button#closeProductModalButton {
    position: absolute;
    right: 10px;
    top: 0px;
    background: #EAECF0;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #667085;
    border-radius: 5px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button#closeCustomerModalButton:hover,
button#closeProductModalButton:hover {
    background: #e0e0e0; /* 마우스 오버 시 더 진한 회색 */
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 35px; /* 서치바와 테이블 간격 */
    align-items: center;
    width: 100%;
    padding: 0;
}

/* 서치 바 스타일 */
.modal-search-bar {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.modal-search-bar label {
    font-size: 16px;
    color: #303249;
    flex: 1; /* 유연한 크기 */
    text-align: center;
}

.modal-search-bar input {
    width: 60%; /* 검색 필드 크기 조정 */
    height: 32px;
    border: 1px solid #303249;
    border-radius: 10px;
    padding: 0 8px;
    font-size: 14px;
    flex: 2; /* 유연한 크기 */
}

/* 검색 버튼 */
.modal-search-bar .btn-search {
    background-color: #303249;
    color: white;
    border: none;
    border-radius: 10px;
    height: 32px;
    width: 60px;
    cursor: pointer;
    flex: 0 0 auto; /* 크기 고정 */
}

/* 테이블 감싸는 부모 요소 */
.modal-table-container {
    max-height: 300px;
    overflow-y: auto;
}

/* 테이블 스타일 */
.modal-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
    color: #8E98A8;
}

.modal-table th {
    background-color: #f5f5f5;
    font-size: 15px;
    padding: 12px 8px;
    border-bottom: 1px solid #E0E0E0;
}

.modal-table td {
    font-weight: normal;
    padding: 10px 8px;
    border-bottom: 1px solid #E0E0E0;
}

/* 테이블 행 */
.modal-table tbody tr {
    cursor: pointer;
}

.modal-table tr:hover {
    background-color: #f5f5f5;
}

/* 모달 상품 테이블 3등분 */
.prod-tb th,
.prod-tb td {
    width: calc(100% / 3);
}

/* 모달 고객 테이블 4등분 */
.cust-tb th,
.cust-tb td {
    width: calc(100% / 4);
}

/* ============================================================ */
/* 설계 폼 컨테이너 */
.form-container {
    flex: 2;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 32px;
    padding: 30px;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

/* label/input 그룹 감싸는 부모 요소 */
.form-content {
    display: flex;
    gap: 20px;
}

/* label 그룹 */
.label-group {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/* label */
.label-group label {
    height: 32px;
    color: #303249;
    font-size: 16px;
    line-height: 32px;
}

/* input 그룹 */
.input-group {
    display: flex;
    gap: 20px;
}

.input-group-content {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/* input 그룹 내 input, select 공통 */
.input-group-content input,
.input-group-content select {
    width: 100%;
    max-width: 180px;
    height: 32px;
    border: 1px solid #8E98A8;
    border-radius: 8px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 400;
    color: #8E98A8;
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
}

/* input 및 select 안의 텍스트 스타일 */
.input-group-content input::placeholder,
.input-group-content select {
    color: #8E98A8; /* 텍스트 색상 */
    font-size: 14px;
}

/* 비활성화된 input 및 select 스타일 */
input[disabled],
select[disabled] {
    background-color: #F5F5F5;
    color: #8E98A8;
    border: 1px solid #E0E0E0;
    cursor: not-allowed;
}

/* date 타입 input 내부 텍스트 위치 조정 */
input[type="date"] {
    width: 100%;
    max-width: 180px;

    height: 32px;
    padding: 0 12px;
    font-size: 14px;
}

.input-with-button {
    display: flex;
    align-items: center;
    gap: 16px;
}

.input-with-button label {
    height: 32px;
    color: #303249;
    font-size: 16px;
    line-height: 32px;
}

.input-with-button button {
    width: 32px;
    height: 32px;
    background-color: #303249;
    color: white;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-row {
    display: flex;
    gap: 16px;
    width: 100%;
}

.button-group {
    display: flex;
    gap: 16px;
    width: 100%;
}

.button-group button {
    flex: 1;
    width: 100%;
    max-width: 180px;
    min-width: 83px;
    height: 32px;
    border: 1px solid #303249;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

.button-plus {
    background-color: white;
    color: #303249;
}

.button-reset {
    background-color: #303249;
    color: #FFFFFF;
    border: none;
}

.input-rate {
    display: flex;
    gap: 16px;
}

/* ============================================================ */
/*컨트롤 컨테이너*/
.control-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 18px 30px;
    margin-bottom: 32px;
    width: 100%;
    max-width: 1440px;
}

/* 좌측 라디오 버튼 그룹 */
.radio-group {
    display: flex; /* 플렉스 적용 */
    gap: 10px; /* 라디오 버튼 간격 */
}

/* 우측 버튼 그룹 */
.button-group-right {
    display: flex; /* 버튼들을 가로로 나열 */
    gap: 23px; /* 버튼 간격 */
}

/* 이자계산 버튼 */
.btn-int-cal {
    background-color: #71A4AD;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    color: #FFF;
}

.btn-int-cal:hover {
    background-color: #5B8893;
}

/* 진행상태 셀렉트 박스 */
.button-group-right select {
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 14px;
    height: 32px;
    padding: 0 8px;
}

/* ============================================================ */
/* 계산 결과 컨테이너 */
.calculation-container {
    display: flex; /* 왼쪽과 오른쪽 섹션을 가로로 배치 */
    gap: 38px;
    width: 100%;
    max-width: 1440px;
}

/* 왼쪽 섹션 */
.left-section {
    display: flex;
    flex-direction: column; /* 자식 요소를 세로 정렬 */
    flex: 1; /* 비율 조정 */
    min-width: 300px; /* 최소 너비 지정 */
    border-radius: 8px;
    gap: 16px;
}

/* 오른쪽 섹션 */
.right-section {
    display: flex;
    flex-direction: column; /* 자식 요소를 세로 정렬 */
    flex: 1.5; /* 비율 조정 */
    min-width: 400px; /* 최소 너비 지정 */
    gap: 16px;
}

/* 계산 테이블 컨테이너 세로 시작 위치 맞추기 위함 */
.non-display {
    visibility: hidden; /* 요소를 보이지 않게 처리 */
    height: 43px; /* 좌측 섹션 탭 높이와 동일하게 설정 */
}

/* 테이블 길어지면 내부 스크롤 생성용 부모 태그 */
.right-section-table-container {
    max-height: 605px; /* 왼쪽 영역과 맞춘 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤바 추가 */
    box-sizing: border-box; /* 패딩 포함한 크기 계산 */
}

/* 계산 테이블 컨테이너 */
.interest-details {
    background-color: #fff;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px 30px;
}

/* 탭 스타일 */
.cal-tab {
    background-color: #303249;
    color: white;
    text-align: center;
    padding: 8px 16px;
    flex: 1;
    height: 52px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

/* 계산 결과 간단히 보여주는 스타일 */
.calculation-summary {
    padding: 16px 30px;
    border-radius: 8px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.result-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.result-row label {
    color: #303249;
    width: 40%;
}

.result-row input {
    width: 60%;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 4px 8px;
    text-align: right;
    background-color: #F5F5F5;
    color: #303249;
}

/* 차트 컨테이너 */
.chart-container {
    width: 100%;
    min-height: 280px;
    margin: auto;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px 16px;
    position: relative;
}

/* 캔버스 */
#resultChart {
    width: 100%;
/*    height: 100%;*/
    height: auto; /* 부모 컨테이너 높이에 비례 */
    min-height: 250px;
}

/* 테이블 스타일 */
.interest-details table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.interest-details th,
.interest-details td {
    border: 1px solid #d1d1d1;
    padding: 8px;
}

.interest-details th {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #495057;
}


