<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="change-pw" class="modal" id="change-pw-modal">
    <div class="title input-box">
        <div class="text">비밀번호 변경</div>
        <button type="button" class="btn btn-link p-0 ms-2" id="btn-change-pw-cross">
            <i class="bi bi-x-circle text-secondary"></i>
        </button>
    </div>
    <div class="mb-4 input-box position-relative">
        <label for="user_pw">변경 비밀번호<span id="msg-invalid-pw" class="msg"></span></label>
        <input type="password" name="user_pw" id="user_pw" class="password-input" placeholder="숫자+영문 6~13자리">
        <button type="button" class="btn position-absolute end-0 btn-eye" id="btn-eye">
            <i class="bi bi-eye-slash text-secondary" id="btn-hide"></i>
            <i class="bi bi-eye text-secondary" id="btn-show"></i>
        </button>
    </div>
    <div class="mb-4 input-box">
        <label for="confirm-user_pw">비밀번호 확인<span id="msg-not-match" class="msg"></span></label>
        <input type="password" id="confirm-user_pw" class="confirm-user_pw" placeholder="비밀번호를 입력해주세요.">
    </div>
    <input type="button" value="변경하기" class="btn-retrieve mt-3" id="btn-retrieve" disabled>
</div>
</body>
</html>
