<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>
<div th:fragment="id-modal" class="id-modal" id="id-modal">
    <div class="title">
        <div class="text">등록하기</div>
        <button type="button" class="btn btn-link p-0 ms-2" id="btn-cross">
            <i class="bi bi-x-circle text-secondary"></i>
        </button>
    </div>
    <div class="mb-2 input-container">
        <label for="user_id">사원번호</label>
        <input type="text" name="user_id" id="user_id" class="id-input" placeholder="이름으로 사원번호를 검색해주세요." autocomplete="off">
    </div>
    <div class="mb-2 input-container">
        <label for="user_telno">휴대전화<span id="msg-already-exist" class="msg"></span></label>
        <div class="user_telno">
            <select id="phone1">
                <option value="010">010</option>
                <option value="011">011</option>
                <option value="016">016</option>
                <option value="017">017</option>
                <option value="018">018</option>
                <option value="019">019</option>
            </select><span>-</span>
            <input type="number" id="phone2" class="phone2" placeholder="0000" autocomplete="off"><span>-</span>
            <input type="number" id="phone3" class="phone3" placeholder="0000" autocomplete="off">
            <input type="hidden" name="user_telno" id="user_telno">
        </div>
    </div>
    <input type="button" value="아이디 찾기" class="btn-retrieve mt-3" id="btn-retrieve" disabled>
</div>
</body>
</html>
