.sub_content {
    margin: 20px;
}
.title{
    font-size: 25px;
    margin-bottom: 20px;
}
.location{
    display: flex;
    flex-direction: row;
}
.location a {
    text-decoration: none;
    color: inherit;
    margin-right: 5px;
}

.location p {
    display: inline;
}