/* General styles */

html {
  height: 100vh;
  overflow-y: hidden;
}

body {
  height: 100%;
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #efeff1;
  margin: 0;
  padding: 0;
}

/* SECTION - [캘린더 Select의 default placeholder 제거] */

input[type="date"]::-webkit-datetime-edit-text {
  color: #afb1b7;
}
input[type="date"]::-webkit-datetime-edit-month-field {
  color: #afb1b7;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  color: #afb1b7;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #afb1b7;
}

/* 기본 옵션 스타일 */

.flex li select option {
  color: black;
}

.flex li select {
  color: #afb1b7;
}

.content {
  height: 100%;
}

.sub_content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background: #f4f5f7;
  border-radius: 8px;
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* SECTION - [Breadcrumb UI 영역 (class="location")] */
.location {
  border-bottom: 1px solid;
  padding: 0 1.5rem;
}

.location ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  font-size: 20px;
}

.location li {
  display: flex;
  align-items: center;
  color: #666;
}

.location li i {
  margin-right: 4px;
}

/* SECTION - [메인 컨텐츠 영역 (class="produce")] */

.produce {
  padding: 1rem 1.5rem;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.inform {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inform-section {
  display: flex;
  flex-flow: column nowrap;
}

.inform-section-left {
  flex: 0.8;
  row-gap: 0.75rem;
}

.inform-section-right {
  flex: 0.2;
  justify-content: center;
  align-items: flex-end;
}

.inform-section-right .flex {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75rem;
}

.inform_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.inform_wrap ul {
  display: flex;
  gap: 1.5rem;
  padding: 0 1rem;
  margin: 0;
}

.inform_wrap ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  font-size: 18px;
  color: #3d3f54; /* 필터 라벨 텍스트 색상 */
}

.inform_wrap ul li select,
.inform_wrap ul li input[type="text"],
.inform_wrap ul li input[type="date"] {
  padding: 0.25rem;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 8rem; /* 필터 입력 UI 너비 */
  max-height: 2rem;
}

.inform_wrap .inp_wrap {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.inform-button-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: 0.75rem;
  width: 100%;
  margin: 0;
}

.inform-button-wrapper .btn {
  display: flex;
  align-items: center;
  padding: 0.365rem 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 400;
  width: 115px;
  max-height: 2rem; /* inform 의 입력UI (select, input 등) 높이와 동일 */
  justify-content: center;
  cursor: pointer;
}

.btn.search {
  background-color: #303249;

  color: #fff;
}

.btn.reset {
  background-color: #292d32;
  color: #fff;
}

.btn.navy {
  background-color: #292d32;
  color: #fff;
}

.btn.gray {
  background-color: #292d32;
  color: #fff;
}

/* Table styles */
.tbl_wrap {
  margin-top: 20px;
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.tbl_wrap .btn {
  align-items: center;
  padding: 0.365rem 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 16px;
  cursor: pointer;
  width: 83px;
}

.tbl {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.tbl colgroup col {
  width: auto;
}

.tbl th,
.tbl td {
  text-align: center;
  padding: 12px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #828a9b;
}

.tbl th {
  background: #fcfcfd;
  font-weight: bold;
}

.tbl td input[type="checkbox"] {
  cursor: pointer;
}

/* Pagination styles */
.paging_box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paging {
  display: flex;
  gap: 10px;
  align-items: center;
}

.paging a {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #9ea5b2;
  font-size: 14px;
}

.paging a.active {
  background-color: #010535;
  color: #fff;
  pointer-events: none;
}

.paging a:hover {
  background-color: #ddd;
}

.paging .prv,
.paging .next {
  font-size: 16px;
}

/* Print button alignment */
.text_right {
  text-align: right;
  margin-bottom: 10px;
}
