.condition-box, .bottom-content{
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    max-width: 1440px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* 검색 폼 스타일 */
#search-form{
    width: 100%;
}
.menu-top, .menu-bottom{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 100%;
}

.menu-top {
    margin-bottom: 10px;
    margin-right: 50px;
}
/* 개별 조건 필드 */
.condition {
    display: flex;
    flex-direction: column; /* 라벨과 입력 필드 수직 배치 */
    max-width: 300px; /* 최소 크기 */
    flex: 1; /* 각 필드가 동일한 비율로 확장 */
    margin-right: 20px;
}
.condition label{
    margin-bottom: 5px;
}
.condition input, .condition select {
    padding: 10px; /* 동일한 패딩 적용 */
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    height: 38px; /* 높이를 명시적으로 지정 */
    width: 100%;
    box-sizing: border-box; /* 테두리와 패딩 포함 */
    text-align: center;
}

/* 기간 조건 */
#condition-period {
    display: flex;
    flex-direction: column;
    flex: 2;
    max-width: 600px;
}

#condition-period label {
    margin-bottom: 5px;
}

#condition-period input,
#condition-period span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#condition-period input {
    width: calc(50% - 10px); /* 두 인풋 필드를 반반으로 나눔 */
}

/* 버튼 그룹 */
.btn-wrap {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center;
    gap: 20px;
    flex: 2; /* 버튼도 동일 비율로 배치 */
}
/* 하단 컨텐츠 */
.bottom-menu {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between;
}
.table-sales {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background-color: #ffffff;
}

.table-sales th,
.table-sales td {
  text-align: center;
  padding: 10px;
  border: 1px solid #dee2e6;
  font-size: 14px;
}

.table-sales th {
  background-color: #f1f3f5;
  color: #495057;
  font-weight: bold;
}

.table-sales tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table-sales tbody tr:hover {
  background-color: #e9ecef;
}