<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.financial_project.mapper.CodeMapper">
    <select id="getAllAuth" resultType="com.team.financial_project.dto.CodeDTO">
        SELECT * FROM tb_code WHERE code_cl = '101'
    </select>
    <select id="getAllStatus" resultType="com.team.financial_project.dto.CodeDTO">
        SELECT * FROM tb_code WHERE code_cl = '100'
    </select>
</mapper>