<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.financial_project.mapper.InquireMapper">

    <!-- resultMap을 사용해 명시적 매핑 -->
    <resultMap id="InquireResultMap" type="com.team.financial_project.dto.InquireDTO">
        <id property="inqId" column="inq_id"/>
        <result property="userId" column="user_id"/>
        <result property="inqTitle" column="inq_title"/>
        <result property="inqCategory" column="inq_category"/>
        <result property="inqAnonym" column="inq_anonym"/>
        <result property="inqContent" column="inq_content"/>
        <result property="inqPwd" column="inq_pwd"/>
        <result property="inqReply" column="inq_reply"/>
        <result property="inqAttachFile1" column="inq_attach_file_1"/>
        <result property="inqAttachFile2" column="inq_attach_file_2"/>
        <result property="inqAttachFile3" column="inq_attach_file_3"/>
        <result property="inqAttachFile4" column="inq_attach_file_4"/>
        <result property="inqAttachFile5" column="inq_attach_file_5"/>
        <result property="inqStatus" column="inq_status"/>
        <result property="inqCreateAt" column="inq_create_at"/>
        <result property="inqUpdateAt" column="inq_update_at"/>
    </resultMap>

    <!-- 전체 목록 조회  -->
    <select id="findAllList" resultMap="InquireResultMap">
        SELECT
        inq_id,
        user_id,
        inq_title,
        inq_category,
        inq_anonym,
        inq_reply,
        inq_check,
        inq_notice,
        inq_create_at
        FROM t_inquire
        WHERE inq_status LIKE '1'
    </select>

    <!-- 상세 보기 -->
    <select id="findById" parameterType="Long" resultMap="InquireResultMap">
        SELECT
        inq_id,
        user_id,
        inq_title,
        inq_category,
        inq_anonym,
        inq_content,
        inq_pwd,
        inq_reply,
        inq_attach_file_1,
        inq_attach_file_2,
        inq_attach_file_3,
        inq_attach_file_4,
        inq_attach_file_5,
        inq_status,
        inq_create_at,
        inq_update_at
        FROM t_inquire
        WHERE inq_id = #{inqId}
    </select>
    <insert id="insertInquire" parameterType="inquireDTO">
        INSERT INTO t_inquire (
        user_id, inq_category, inq_title, inq_anonym,
        inq_content, inq_pwd, inq_attach_file_1,
        inq_attach_file_2, inq_attach_file_3, inq_attach_file_4,
        inq_attach_file_5, inq_create_at, inq_status, inq_notice, inq_reply
        ) VALUES (
        #{userId}, #{inqCategory}, #{inqTitle}, #{inqAnonym},
        #{inqContent}, #{inqPwd}, #{inqAttachFile1},
        #{inqAttachFile2}, #{inqAttachFile3}, #{inqAttachFile4},
        #{inqAttachFile5}, CURRENT_TIMESTAMP, '1', '0', '0'
        )
    </insert>
</mapper>