<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.financial_project.promotion.mapper.PromoCalMapper">
    <select id="findDsTyCd" parameterType="Long" resultType="String">
        SELECT
        dsgn_ds_ty_cd
        FROM
        tb_custprod_dsgn
        WHERE
        dsgn_sn = #{dsTyCd}
    </select>

    <select id="getAcmlProductList" resultType="com.team.financial_project.promotion.dto.ProductInfoDto">
        SELECT
        p.PROD_SN as prodSn,                        -- 상품설계번호
        p.PROD_DS_TY_CD as prodDsTyCd,              -- 설계유형코드
        p.PROD_CD as prodCd,                        -- 상품코드
        p.PROD_NM as prodNm,                        -- 상품명
        sbstgCode.CODE_NM as prodSbstgTy,           -- 가입대상
        payTyCode.CODE_NM as prodPayTy,             -- 납입주기
        p.PROD_PAY_TY_CD as prodPayTyCd,            -- 납입주기코드
        p.PROD_AIR_MIN as prodAirMin,               -- 최소적용금리
        p.PROD_AIR_MAX as prodAirMax,               -- 최대적용금리
        p.PROD_INT_TAX_TY_CD as prodIntTaxTyCd,     -- 이자과세코드
        intTaxCode.CODE_NM as prodIntTaxTy,         -- 이자과세명
        intTaxCode.CODE_TAX_RATE as prodIntTaxRate  -- 이자과세율
        FROM TB_PRODUCT p
        -- 가입대상 유형 코드 조회를 위한 조인
        LEFT JOIN TB_CODE sbstgCode
        ON sbstgCode.CODE_CL = p.PROD_SBSTG_TY_CD_CODE_CL
        AND sbstgCode.CODE_NO = p.PROD_SBSTG_TY_CD
        -- 납입주기 코드 조회를 위한 조인
        LEFT JOIN TB_CODE payTyCode
        ON payTyCode.CODE_CL = p.PROD_PAY_TY_CD_CODE_CL
        AND payTyCode.CODE_NO = p.PROD_PAY_TY_CD
        -- 이자과세 유형 코드 조회를 위한 조인
        LEFT JOIN TB_CODE intTaxCode
        ON intTaxCode.CODE_CL = p.PROD_INT_TAX_TY_CD_CODE_CL
        AND intTaxCode.CODE_NO = p.PROD_INT_TAX_TY_CD
        WHERE
        -- 목돈적금 상품만 조회
        p.prod_ty_cd IN (
        SELECT
        code_no
        FROM
        tb_code
        WHERE
        prod_nm LIKE '%목돈%')
        <if test="prodCd != null and prodCd != ''">
            AND p.PROD_CD LIKE '%' || #{prodCd} || '%'
        </if>
        <if test="prodNm != null and prodNm != ''">
            AND p.PROD_NM LIKE '%' || #{prodNm} || '%'
        </if>
        ORDER BY p.PROD_CD ASC
    </select>

    <select id="getDpstProductList" resultType="com.team.financial_project.promotion.dto.ProductInfoDto">
        SELECT
        p.PROD_SN as prodSn,                        -- 상품설계번호
        p.PROD_DS_TY_CD as prodDsTyCd,              -- 설계유형코드
        p.PROD_CD as prodCd,                        -- 상품코드
        p.PROD_NM as prodNm,                        -- 상품명
        sbstgCode.CODE_NM as prodSbstgTy,           -- 가입대상
        payTyCode.CODE_NM as prodPayTy,             -- 납입주기
        p.PROD_PAY_TY_CD as prodPayTyCd,            -- 납입주기코드
        p.PROD_AIR_MIN as prodAirMin,               -- 최소적용금리
        p.PROD_AIR_MAX as prodAirMax,               -- 최대적용금리
        p.PROD_INT_TAX_TY_CD as prodIntTaxTyCd,     -- 이자과세코드
        intTaxCode.CODE_NM as prodIntTaxTy,         -- 이자과세명
        intTaxCode.CODE_TAX_RATE as prodIntTaxRate  -- 이자과세율
        FROM TB_PRODUCT p
        -- 가입대상 유형 코드 조회를 위한 조인
        LEFT JOIN TB_CODE sbstgCode
        ON sbstgCode.CODE_CL = p.PROD_SBSTG_TY_CD_CODE_CL
        AND sbstgCode.CODE_NO = p.PROD_SBSTG_TY_CD
        -- 납입주기 코드 조회를 위한 조인
        LEFT JOIN TB_CODE payTyCode
        ON payTyCode.CODE_CL = p.PROD_PAY_TY_CD_CODE_CL
        AND payTyCode.CODE_NO = p.PROD_PAY_TY_CD
        -- 이자과세 유형 코드 조회를 위한 조인
        LEFT JOIN TB_CODE intTaxCode
        ON intTaxCode.CODE_CL = p.PROD_INT_TAX_TY_CD_CODE_CL
        AND intTaxCode.CODE_NO = p.PROD_INT_TAX_TY_CD
        WHERE
        -- 예금 상품만 조회
        p.PROD_TY_CD = '2'
        <if test="prodCd != null and prodCd != ''">
            AND p.PROD_CD LIKE '%' || #{prodCd} || '%'
        </if>
        <if test="prodNm != null and prodNm != ''">
            AND p.PROD_NM LIKE '%' || #{prodNm} || '%'
        </if>
        ORDER BY p.PROD_CD ASC
    </select>

    <select id="getLoanProductList" resultType="com.team.financial_project.promotion.dto.ProductInfoDto">
        SELECT
        p.PROD_SN as prodSn,                        -- 상품설계번호
        p.PROD_DS_TY_CD as prodDsTyCd,              -- 설계유형코드
        p.PROD_CD as prodCd,                        -- 상품코드
        p.PROD_NM as prodNm,                        -- 상품명
        sbstgCode.CODE_NM as prodSbstgTy,           -- 가입대상
        payTyCode.CODE_NM as prodPayTy,             -- 납입주기
        p.PROD_PAY_TY_CD as prodPayTyCd,            -- 납입주기코드
        p.PROD_AIR_MIN as prodAirMin,               -- 최소적용금리
        p.PROD_AIR_MAX as prodAirMax,               -- 최대적용금리
        p.PROD_INT_TAX_TY_CD as prodIntTaxTyCd,     -- 이자과세코드
        intTaxCode.CODE_NM as prodIntTaxTy,         -- 이자과세명
        intTaxCode.CODE_TAX_RATE as prodIntTaxRate  -- 이자과세율
        FROM TB_PRODUCT p
        -- 가입대상 유형 코드 조회를 위한 조인
        LEFT JOIN TB_CODE sbstgCode
        ON sbstgCode.CODE_CL = p.PROD_SBSTG_TY_CD_CODE_CL
        AND sbstgCode.CODE_NO = p.PROD_SBSTG_TY_CD
        -- 납입주기 코드 조회를 위한 조인
        LEFT JOIN TB_CODE payTyCode
        ON payTyCode.CODE_CL = p.PROD_PAY_TY_CD_CODE_CL
        AND payTyCode.CODE_NO = p.PROD_PAY_TY_CD
        -- 이자과세 유형 코드 조회를 위한 조인
        LEFT JOIN TB_CODE intTaxCode
        ON intTaxCode.CODE_CL = p.PROD_INT_TAX_TY_CD_CODE_CL
        AND intTaxCode.CODE_NO = p.PROD_INT_TAX_TY_CD
        WHERE
        --  대출 상품만 조회
        p.PROD_TY_CD = '3'
        <if test="prodCd != null and prodCd != ''">
            AND p.PROD_CD LIKE '%' || #{prodCd} || '%'
        </if>
        <if test="prodNm != null and prodNm != ''">
            AND p.PROD_NM LIKE '%' || #{prodNm} || '%'
        </if>
        ORDER BY p.PROD_CD ASC
    </select>

    <insert id="insertCustprodDsgn" useGeneratedKeys="true" keyProperty="dsgnSn">
        INSERT INTO TB_CUSTPROD_DSGN (
        PROD_SN, CUST_ID, USER_ID, DSGN_CREATE_AT, DSGN_UPDATE_AT,
        DSGN_DS_TY_CD, DSGN_PRG_STCD
        ) VALUES (
        #{prodSn}, #{custId}, #{userId}, #{dsgnCreateAt}, #{dsgnUpdateAt},
        #{prodDsTyCd}, #{dsgnPrgStcd}
        )
    </insert>

    <insert id="insertProdDsgnacml">
        INSERT INTO TB_PROD_DSGN_ACML (
        DSGN_SN, ACML_PAY_TY_CD, ACML_GOAL_AMT,
        ACML_GOAL_PRD, ACML_STRT_DT, ACML_MTR_DT, ACML_APLY_RATE,
        ACML_INT_TAX_TY_CD, ACML_CIRCLE_AMT, ACML_TOT_DPST_AMT, ACML_TOT_DPST_INT,
        ACML_INT_TAX_AMT, ACML_ATX_RCVE_AMT
        ) VALUES (
        #{dsgnSn}, #{prodPayTyCd}, #{savgCircleAmt},
        #{savgGoalPrd}, #{savgStrtDt}, #{savgMtrDt}, #{savgAplyRate},
        #{savgIntTaxTyCd}, #{savgCircleAmt}, #{savgTotDpstAmt}, #{savgTotDpstInt},
        #{savgIntTaxAmt}, #{savgAtxRcveAmt}
        )
    </insert>
    <insert id="insertDpstCustprodDsgn" useGeneratedKeys="true" keyProperty="dsgnSn">
        INSERT INTO TB_CUSTPROD_DSGN (
        PROD_SN, CUST_ID, USER_ID, DSGN_CREATE_AT, DSGN_UPDATE_AT,
        DSGN_DS_TY_CD, DSGN_PRG_STCD
        ) VALUES (
        #{prodSn}, #{custId}, #{userId}, #{dsgnCreateAt}, #{dsgnUpdateAt},
        #{prodDsTyCd}, #{dsgnPrgStcd}
        )
    </insert>
    <insert id="insertProdDsgnDpst">
        INSERT INTO TB_PROD_DSGN_DPST (
        DSGN_SN, DPST_PAY_TY_CD, DPST_AMT,
        DPST_PRD, DPST_STRT_DT, DPST_MTR_DT, DPST_APLY_RATE,
        DPST_INT_TAX_TY_CD, DPST_TOT_AMT, DPST_TOT_INT,
        DPST_INT_TAX_AMT, DPST_ATX_RCVE_AMT
        ) VALUES (
        #{dsgnSn}, #{prodPayTyCd}, #{savgCircleAmt},
        #{savgGoalPrd}, #{savgStrtDt}, #{savgMtrDt}, #{savgAplyRate},
        #{savgIntTaxTyCd}, #{savgTotDpstAmt}, #{savgTotDpstInt},
        #{savgIntTaxAmt}, #{savgAtxRcveAmt}
        )
    </insert>

</mapper>