<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.financial_project.promotion.mapper.PromoCalMapper">
    <select id="findDsTyCd" parameterType="Long" resultType="String">
        SELECT
        dsgn_ds_ty_cd
        FROM
        tb_custprod_dsgn
        WHERE
        dsgn_sn = #{dsTyCd}
    </select>
</mapper>