<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.financial_project.mapper.UserMapper">

    <select id="selectManagementList" resultType="com.team.financial_project.dto.UserDTO">
        SELECT
        dept_cd.code_nm AS dept_name,  -- 부서명
        jbps_cd.code_nm AS position_name,  -- 직위명
        tu.user_name,
        tu.user_email,
        tu.user_telno
        FROM
        tb_user tu
        LEFT JOIN
        tb_code dept_cd
        ON
        tu.user_dept_cd_code_cl = dept_cd.code_cl
        AND
        tu.user_dept_cd = dept_cd.code_no
        LEFT JOIN
        tb_code jbps_cd
        ON
        tu.user_jbps_ty_cd_code_cl = jbps_cd.code_cl
        AND
        tu.user_jbps_ty_cd = jbps_cd.code_no
        ORDER BY
        tu.user_dept_cd,  -- 1차 정렬: 부서 코드
        jbps_cd.code_no   -- 2차 정렬: 코드 번호 순으로 정렬
        LIMIT
        #{pageSize} OFFSET #{offset}
    </select>


    <select id="getTotalDataCount" resultType="int">
        SELECT COUNT(*) FROM tb_user
    </select>
</mapper>