.main-content {
    flex: 1;
    padding: 20px;
}

.customerInfo {
    display : flex;
    padding: 10px;
    width: 80%;
}

.location h2 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
}

.customerInfo h2{
    color: #ffffff;
    background-color: #343a40;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    width : 200px;
    text-align:center;
}
/* ======================================================================================================= */
/* 브레드크럼 스타일 */
.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #888888; /* 텍스트 색상 */
    gap: 5px; /* 아이콘과 텍스트 사이 간격 */
}

.breadcrumb .icon {
    font-size: 16px; /* 홈 아이콘 크기 */
    color: #888888;
    margin-right: 5px; /* 아이콘과 텍스트 간격 */
}

.breadcrumb a {
    color: #888888;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    color: #888888;
}

/* ======================================================================================================= */
/* 화면 분할 */

.leftSide, rightSide{
    display: flex;
    flex-direction: column;
}

/* ======================================================================================================= */
/* 고객 정보 / 담당자 정보 */
.customer{
    display: flex;
    width : 100%;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #ffffff;
}

.customerLeft , .customerRight {
    display: flex;
    grid-template-columns: 1fr 1fr; /* 두 열로 나눔 */
    gap: 20px 20px; /* 행과 열 간격 설정 */
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.staff{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    width : 100%;
    margin-bottom: 30px;
    border-radius: 8px;
}

.staffContainer {
   display: flex;
}

.staffLeft , .staffRight{
    display: flex;
    grid-template-columns: 1fr 1fr; /* 두 열로 나눔 */
    gap: 20px 20px; /* 행과 열 간격 설정 */
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

/* ======================================================================================================= */
/* 상담 / 수정내역 정보 */
.consult-bar {
    display: flex;
    border-radius: 8px;
}

.rightSide {
    width : 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    margin-bottom:auto;
}

/* 개별 상담 영역 */
.consultation, .revision {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
}

/* ======================================================================================================= */
/* 버튼 */
.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.print-btn {
    background-color: #6c757d;
}

.edit-btn {
    background-color: #5AA4B8;
}

.list-btn {
    background-color: #343a40;
}

.consult-btn {
    background-color: #010535;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-left:auto;
    margin-bottom:8px;
    padding:13px;
}
/* ======================================================================================================= */
/* 기타 */

.leftSide label{
    width: 370px;
    display: flex;
    font-size: 14px;
    color: #555;
    flex-direction: row;
}

.searchManager {
    max-width: 59%;
    background-color : #ffffff;
}

select {
background-color : #ffffff;
}

input {
background-color: #e9e9e9;
}

select, input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
    width: 70%;
    /* 입력 필드가 레이블 너비에 맞춰짐 */
    margin-left: auto;
}

/* 텍스트 영역 스타일 */
textarea {
    width: 100%;
    height: 230px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e3e3e3;
    font-size: 14px;
    color: #555;
    resize: none;
    overflow-y: auto; /* 스크롤바 설정 */
}




