.customerInfo {
    display : flex;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.info-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

/* 상단 탭 스타일 */
.info-tab {
    background-color: #303249;
    border: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 43px;
    border-radius: 10px;
    font-size: 18px;
    padding: 8px 16px;
    max-width: 280px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.info-tab-first {
    width: 280px;
}

.consult-btn {
    width: 110px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* ======================================================================================================= */
/* 화면 분할 */

.leftSide, rightSide {
    display: flex;
    flex-direction: column;
}

/* ======================================================================================================= */
/* 고객 정보 / 담당자 정보 */
.customer, .staff {
    display: flex;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    gap: 60px;
}

.customer {
    margin-bottom: 20px;
}

.customerLeft , .customerRight
,.staffLeft , .staffRight {
    display: flex;
    grid-template-columns: 1fr 1fr; /* 두 열로 나눔 */
    gap: 20px 20px; /* 행과 열 간격 설정 */
    flex-direction: column;
    align-items: flex-start;
}

/* ======================================================================================================= */
/* 상담 / 수정내역 정보 */

.rightSide {
    margin-left:40px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 개별 상담 영역 */
.consultation, .revision {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.consultation {
    height : 315px;
    margin-bottom: 20px;
}

.revision {
    height : 150px;
}

/* ======================================================================================================= */
/* 버튼 */

.go-promotion-btn {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #F5F5F5;
    padding: 0px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.staff-search-label {
    display: flex;
    align-items: center;
    height: 100%;
}

.search-btn {
    width: 32px;
    height: 32px;
    background-color: #303249;
    color: white;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.leftSide label {
    max-width: 500px;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    color: #303249;
    font-size: 16px;
    line-height: 35px;
}

.searchManager {
    max-width: 62%;
    background-color : #ffffff;
    margin-right: 10px;
}

select {
    background-color : #ffffff;
}

input {
    background-color: #ffffff;
}

input[disabled] {
    background-color: #F5F5F5;
}

input[readonly] {
    background-color: #F5F5F5;
}

select, input {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    color: #555;
    width: 80%;
    max-width: 260px;
    /* 입력 필드가 레이블 너비에 맞춰짐 */
    height: 35px;
    margin-left: auto;
}

input {
    padding-left: 11px;
}

/* 텍스트 영역 스타일 */
.consultation textarea {
    width: 100%;
    height: 285px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #F5F5F5;
    font-size: 14px;
    color: #555;
    resize: none;
    overflow-y: auto; /* 스크롤바 설정 */
}

.revision textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #F5F5F5;
    font-size: 14px;
    color: #555;
    resize: none;
    overflow-y: auto; /* 스크롤바 설정 */
}

/* ======================================================================================================= */
/* 인쇄 */
@media print {
    body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이로 설정 */
    }

    #leftSide {
    width: 100%; /* 너비를 화면 전체로 */
    height: auto;
    margin: auto;
    }

    /* 숨기고 싶은 다른 요소 */
    button {
    display: none;
    }
}